

@{
    Layout = "~/Views/Shared/homeLayout.cshtml";
    ViewData["Title"] = "Home Page";
}
<style>
    .img-fluid {
        max-width: 130%;
        height: auto;
    }
</style>

<header class="masthead text-center text-white" style="height: 770px;">
    <div class="masthead-content">
        <img src="~/adminFront/img/Portada.webp" width="95%" />
    </div>
</header>